<h1>HEADING</h1>
{{user}}
_________________________________________
{{user.dataValues}}
_________________________________________
{{user.userInfo}}
_________________________________________
{{user.userInfo.city}}
_________________________________________
{{userInfo}}
_________________________________________
{{userInfo.dataValues}}
_________________________________________
{{user.city}}
_________________________________________
{{userInfo.first_name}}