
<div class="container">
  <h4 class="main-title">Collaborator Profile</h4>
  </div>


  <div class="container">
  <div class="row ">
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <h4 class="main-title">{{userInfo.first_name}} {{userInfo.last_name}}</h4>
          </span>
        </div>
        <div class="card-action">
      {{!-- Make this work, then resize to fit in the box --}}
          <img src={{gitHubObject.photo}} />
        </div>
      </div>
    </div>


    <div class="col s12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title profile-title">About Me</h6></span>
            <p>{{userInfo.bio}}</p><br>
          <span class="card-title profile-title">Location {{userInfo.dataValues}}</span>
          <p> {{userInfo.city}}, {{userInfo.state}}</p></br>

          </div>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title profile-title">{{userInfo.first_name}}'s Portfolio</span>

          <h6><strong><a href= target="_blank">Portfolio Link</a></strong></h6><br>

            <h6><strong>Favorite Projects</a></strong></h6>
            <p>Github username: <a href={{gitHubObject.gitHubprofile}}></a>{{userInfo.github}}</a></p><br>

          {{!--Repository call goes here --}}
            <p><a href="" target="_blank">Repo 1</a></p>
            <p><a href="" target="_blank">Repo 2</a></p>
            <p><a href="" target="_blank">Repo 3</a></p>

          {{!-- Update database to include social, portfolio links --}}
            {{!-- <h6><strong>Links</strong></h6>
          <li>LinkedIn</li>
          <li>Socials</li> --}}
        </div>
        <div class="card-action">
          <button type='mailto' name="" id="" class='col s12 btn btn-round waves-effect'>
            Let's collab!</button>  
          {{!-- <a href="">View my profile</a> --}}
        </div>
      </div>
    </div>
  </div>
</div>